:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --main-button-color: #f4f4fd;
  --second-button-color: #4d5ae5;
  --accent-color: #404bbf;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  column-gap: 24px;
}

.no-scroll {
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.main-title {
  margin-bottom: 72px;
}

.title {
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*------------------- HEADER----------------- */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--title-text-color);
}

.accent {
  color: #4d5ae5;
}

/*------------------- HEADER----------------- */
/*------------------- SERVICE----------------- */
.service {
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-color: #2e2f42;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .service {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}

.service-title {
  max-width: 320px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.service-button:is(:hover, :focus) {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.service-button {
  padding: 16px 32px;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--second-button-color);
  border: none;
  margin-top: 0;
  transition: background-color var(--transition-duration-and-func),
    box-shadow var(--transition-duration-and-func);
}
/*------------------- SERVICE----------------- */
/*------------------- RULES----------------- */
.rules {
  padding-top: 96px;
  padding-bottom: 96px;
}

.rules-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.rules-block {
  display: none;
}

.rules-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}

.rules-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*------------------- RULES----------------- */
/*------------------- TEAM----------------- */
.team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

.team-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-about {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition-duration-and-func);
}

.social-list-icon {
  fill: #f4f4fd;
}
/*------------------- TEAM----------------- */
/*------------------- CUSTOMERS----------------- */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid #404bbf;
  color: #404bbf;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: color var(--transition-duration-and-func);
}

.customers-link-icon {
  fill: currentColor;
}
/*------------------- CUSTOMERS----------------- */
/*------------------- PORTFOLIO----------------- */
.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.portfolio-list-button {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-bottom: 48px;
}

.portfolio-button {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: #4d5ae5;
  background-color: var(--main-button-color);
  border: 1px solid #e7e9fc;
  transition: color var(--transition-duration-and-func),
    background-color var(--transition-duration-and-func),
    box-shadow var(--transition-duration-and-func);
}

.portfolio-button:is(:hover, :focus) {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list-img {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item-img {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition-duration-and-func);
}

.portfolio-item-img:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
  display: block;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform var(--transition-duration-and-func);
  position: absolute;
  left: 0;
  top: 0;
  background: #4d5ae5;
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px 164px;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-about {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  background: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-about:hover {
  border: 0.5px solid #f4f4fd;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/*------------------- PORTFOLIO----------------- */
/*------------------- FOOTER---------------- */
.footer {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  justify-content: center;
}

.container-logo {
  margin-bottom: 72px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  width: 268px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin: 16px auto;
}

.container-social {
  margin-bottom: 72px;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #31d0aa;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration-and-func);
}

.footer-list-icon {
  fill: #f4f4fd;
}

.text-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.email-form-input {
  width: 100%;
  height: 40px;
  color: #e7e9fc;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2e2f42;
  /* resize: none; */
  padding-left: 16px;
  margin-bottom: 16px;
}

.email-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--second-button-color);
  border-radius: 4px;
  border: none;
  width: 165px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--transition-duration-and-func),
    box-shadow var(--transition-duration-and-func);
}

.subscribe-button:is(:hover, :focus) {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.telegram-vector {
  fill: #ffffff;
}
/* -------------- FOOTER----------------*/
/* -------------- MODAL WINDOW----------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration-and-func);
  width: 408px;
  height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: #000000;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: fill var(--transition-duration-and-func),
    background-color var(--transition-duration-and-func);
  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: #ffffff;
  background-color: #404bbf;
}
/* -------------- MODAL WINDOW----------------*/
/* -------------- MODAL FORM----------------*/
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-text {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color var(--transition-duration-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-input-descr-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.modal-form-input-descr {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: block;
  transition: fill var(--transition-duration-and-func);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}

.modal-form-message {
  display: flex;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration-and-func);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
  margin-top: 16px;
  margin-bottom: 24px;
}

.modal-form-check-desc::before {
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  content: "";
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background: #404bbf;
  border: 1.25px solid #404bbf;
  border-radius: 2px;
  background-image: url(../images/check-mark.svg);
  background-repeat: no-repeat;
  background-size: 10px 8px;
  background-position: center;
}

.modal-form-check:focus + .modal-form-check-desc::before {
  outline: 1.25px solid #2e2f42;
}

.user-policy-link {
  color: #4d5ae5;
}

.modal-form-submit:is(:hover, :focus) {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-submit {
  align-self: center;
  padding: 16px 32px;
  border-radius: 4px;
  align-self: center;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--second-button-color);
  border: none;
  width: 169px;
  margin-top: 0;
  transition: background-color var(--transition-duration-and-func),
    box-shadow var(--transition-duration-and-func);
}

/* -------------- MODAL FORM----------------*/
